.submit-location-button {
  background: #F09133;
  border-radius: 8px;
  padding: 12px 20px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  color: white;
}

.submit-location-phone {
  background: #F09133;
  border-radius: 8px;
  padding: 12px 20px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  color: white;
}
