// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";
@import "cards";
@import "tabs";
@import "footer";
@import "form";

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Roboto", "sans-serif";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

main {
  flex: 1;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.content-wrapper {
  padding: 0 180px;
}

@media only screen
    // and (device-width: 414px)
    // and (device-height: 896px)
    // and (-webkit-device-pixel-ratio: 3)
    and (max-width: 500px) {
      .content-wrapper {
        padding: 0 16px;
      }
    }
