// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";
@import "cards";

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Roboto", "sans-serif";
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.content-wrapper {
  padding: 0 179px;
}
