.nav--title{
  padding: 15px 0 15px 180px;
}

.nav--main-title{
  font-weight: 700;
  font-size: 44px;
}

.nav--sub-title {
  font-weight: 400;
  color: #151515;
}

#eats-title-light-font {
  font-weight: 300;
}

.new-page--navbar {
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
}

.nav-submit-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-location {
  padding-right: 179px;
}

@media only screen
    // and (device-width: 414px)
    // and (device-height: 896px)
    // and (-webkit-device-pixel-ratio: 3)
    and (max-width: 500px) {
      .nav--title {
        padding: 20px 0 20px 20px;
      }

      .nav--title {
        font-size: 36px;
      }

      .nav--sub-title {
        font-size: 12px;
        margin-left: 5px;
      }
      .submit-location {
        padding-right: 14px;
      }
    }
