.nav--title{
  padding-left: 180px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav--main-title{
  font-weight: 700;
  font-size: 44px;
}

.nav--sub-title {
  font-weight: 400;
}

#eats-title-light-font {
  font-weight: 300;
}
