<%= react_component("Navbar", {
}) %>
<%= react_component("Map", {
  center: @map_center,
  zoom: @map_zoom,
  markers: [@markers]
}) %>
<div class="content-wrapper">
  <%= react_component("Cards", {
  places: @places
}) %>
</div>
