<%= react_component("Navbar", {
}) %>
<%= react_component("Map", {
  center: @map_center,
  zoom: @map_zoom,
  markers: [@markers]
}) %>
<div class="card-wrapper">
  <% @places.each do |place| %>
    <%= react_component("Card", {
      key:place.id,
      name: place.name,
      address: place.address,
      }) %>
  <% end %>
</div>
