<div class="new-page--wrapper">
  <div class="new-page--navbar">
    <%= link_to places_path(@places) do %>
      <%= react_component("Navbar", {}) %>
    <% end %>
  </div>
  <main>
    <%= react_component("Form", {}) %>
  </main>
  <%= react_component("Footer", {}) %>
</div>
