<div class="new-page--wrapper">
  <div class="new-page--navbar">
    <%= react_component("Navbar", {}) %>
  </div>
  <main>
    <%= react_component("Form", {}) %>
  </main>
  <%= react_component("Footer", {}) %>
</div>
